@media only screen and (min-width: 768px) {
  .tokenbg {
    background-image: url(../img/others/tree-bg.png);
    animation: medium 20s infinite;
    -webkit-animation: medium 20s infinite;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    mix-blend-mode: overlay;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .tokenbg {
    background-image: url(../img/others/tree-bg.png);
    animation: large 20s infinite;
    -webkit-animation: large 20s infinite;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    mix-blend-mode: overlay;
    width: 100%;
    height: 100%;
  }
}

@keyframes large {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 125%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes medium {
  0% {
    background-size: 125%;
  }
  50% {
    background-size: 150%;
  }
  100% {
    background-size: 125%;
  }
}
