:root {
  --color1: #00c1ff;
  --color2: #ecfbff;
}
.bgimage {
  background: url("./img/cloud.png") center no-repeat fixed;
  background-size: cover;
  background-position-x: 100%;
  animation: moving 30s linear infinite;
}

@keyframes moving {
  0% {
    background-position-x: 0%;
    background-color: var(--color1);
  }
  30% {
    background-color: var(--color2);
  }
  70% {
    background-color: var(--color1);
  }
  100% {
    background-position-x: 100%;
    background-color: var(--color2);
  }
}
.active {
  color: green !important;
}
.selectedId {
  color: red !important;
}
.treeBG {
  background: url("./img/treebg.png") center no-repeat;
  background-size: contain;
}
.buttonColor {
  background: white;
}
.buttonColor:hover {
  background: rgb(225, 240, 225);
}
